.page-header {
    margin-top: 10px;
}

#login{
    margin-top: 30px;
    margin-bottom: 30px;
}

h1{
    padding: 20px;
}

.separator{
    height: 30px;
}

.img-books{
    height: 150px;
    width: 100px;
}

.container-book{
    padding-top: 20px;
    padding-bottom: 20px;
}